<table class="table table-hover table-inverse">
  <% if @range == "User" %>
  <h2>検索したユーザー </h2>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= image_tag user.get_profile_image(50,50) %></td>
          <td><%= user.name %></td>
          <td><%= user.introduction %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
   <h2>検索した投稿 </h2>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= image_tag post.user.get_profile_image(50,50) %></td>
          <td><%= link_to post.body,post, class: "post_#{post.id}" %></td>
          <td><%= post.body %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>