<%= stylesheet_link_tag "post", :media => "all" %>
<div class="container">
  <div class="row g-4">
    <div class="col-lg-9 vstack gap-4">
        <div class="d-flex mb-3 mt-3">
      <% @posts.each do |post| %>
      <article class="card mt-4">
        <div class="card-header border-0 pb-0  bg-white">
          <div class="d-flex align-items-center justify-content-between">
             <div class="d-flex align-items-center">
               <div class="avatar avatar-story me-2">
                 <%= link_to(post.user) do %>
                 <%= image_tag post.user.get_profile_image(50,50) %>
                </div>
                <div class="nav nav-divider">
                  <h6 class="nav-item card-title mb-0 text-dark text-decoration-none">
                    <%= post.user.name %>
                    <% end %>
                  </h6>
                  <span class="nav-item small">・<%= post.created_at.strftime('%Y/%m/%d/%H:%M') %></span>
                </div>
              </div>
          </div>
        <div>
        <div class="card-body">
          <p class="h5 mt-2">
            <%= post.body %>
          </p>
          <p class ="text-center mt-3 mb-3">
            <% if post.image.present? %>
            <%= image_tag post.image, size: "300x300" %>
            <% else %>
            <% end %>
          </p>
            <ul class="nav nav-stack py-3 small">
              <li class="nav-item h6">
              <i class="fas fa-trash-alt"></i>
              <%= link_to '消す', post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "text-dark destroy_book_#{post.id}"%>
              </li>
              </li>
              <li class="nav-item h6 ml-3">
                <i class="far fa-comment-dots"></i>
                <%= link_to "#{post.post_comments.count} コメント", admin_post_path(post.id), class: "text-dark" %>
              </li>
            </ul>
          </tr>
      </article>
      <% end %>
  </div>
</div>