<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>ユーザー情報編集</h2>
    <%= form_with model: @user, local: true do |f| %>
      <div class="form-group">
        <%= f.label :ユーザー名 %>
        <%= f.text_field :name, class: "form-control name" %>
      </div>
     <div class="form-group">
        <%= f.label :トップ画像 %>
        <%= f.file_field :profile_image, class: "form-control-file user_image", accept: 'image/*' %>
      </div>
      <div class="form-group" rows="4" cols="40">
        <%= f.label :自己紹介 %>
        <%= f.text_area :introduction , size: "40x15",class: "form-control introduction" %>
      </div>
      <ul class="mt-5 h4" style="list-style: none;"><h5 class="mb-3">プロフィールチェック</h5>
            <li>
              <%= check_box_tag :post %><%= label_tag :post, "だれかがいやな気もちになる名前ではない" ,class: " h5 ml-3" %>
            </li>
            <li>
              <%= check_box_tag :post %><%= label_tag :post, "自分の名前などが分かることを書いていない" ,class: " h5 ml-3" %>
            </li>
            <li>
              <%= check_box_tag :post %><%= label_tag :post, "顔がはっきり分かる写しんをつかっていない" ,class: " h5 ml-3" %>
            </li>
　        </ul>
      <div class="form-group">
        <%= f.submit 'へんしゅう ', class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>